@font-face {
  font-family: Mella Nissa;
  src: url(../fonts/MellaNissa.ttf);
}
body {
  background-image: url(../img/herringbone.png);
  padding: 50px 0;
  font-size: 14px;
}
.grid-container {
  /* max-width: 900px !important; */
  background-color: aliceblue;
  border: 3px solid rgb(215, 213, 213);
}
header {
  display: flex;
}
nav {
  margin-bottom: 1rem;
}
.logo {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 20px !important;
}
.logo a h1 {
  font-family: Mella Nissa, cursive;
  font-size: 4em;
}
.slogan {
  font-style: italic;
  padding-left: 90px;
  font-size: 18px;
}
.card-divider {
  display: flex;
  flex-direction: column;
}
.post-title {
  font-size: 2rem;
}
.comentarios {
  display: flex;
}
.user {
  border-radius: 50%;
  width: 65px;
}
.new-comment {
  margin: 0;
}
.all-comments {
  background-color: rgb(231, 231, 231);
}